.logo-img {
    width: 190px;
    margin: 4px;
    display: inline-block;
}
.model-selecter{
    z-index: 9999999!important;
}
/*Added By Fawad*/
.select2-container--default .select2-selection--single {
    height: 33px;
    border-radius: 0;
    border-color: #aeacb4;
}
/*End By Fawad*/
section#page-title {
    padding: 40px 40px 0px 40px !important;
}
#page-title .breadcrumb{
    margin: 0 !important;
    top: 30% !important;
}
.table {
    border-collapse: collapse;
    width: 100% !important;
}
span.p_skills.btn.btn-xs.btn-primary {
    margin: 2px;
}

.settings > .btn {


    left: -28px !important;
    padding: 10px 8px !important;
    position: absolute;
    top: 41px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.error {
    color: #cc2828;
}
.box-login {
    margin-top: 150px !important;
}
.box-forgot {
    margin-top: 150px !important;
}
.box-login input[type="checkbox"]{
    display: block;
    opacity: 0;
    margin-left: 5px;
    z-index: 9999;
}
.p-dashboard hr{
    margin-top: 5px !important;
    margin-bottom: 6px !important;
}
.p-dashboard .heading {
    background-color: #8080801f;
    margin: 0px;
    margin-bottom: 7px;
    margin-top: 15px;
    padding: 8px;
    color: #1fbba6;
    margin-left: -16px;
    margin-right: -16px;
    border: 1px solid gainsboro;
}
.p-dashboard .user-left {
    margin-top: -14px;
}
.p-dashboard p{
    color: #8e8e93; ;
}

.user-model .modal-dialog{
    width: 90% !important;
}
.add-task .modal-dialog{
    width: 55% !important;
}
.add-task .select2-container {
     width: 100% !important;
}
.add-milestone .select2-container {
     width: 100% !important;
}
    /* custum classes */

.mt-5{
     margin-top: 5px;
 }
.mt-10{
     margin-top: 10px;
 }
.mt-15{
     margin-top: 15px;
 }
.mt-20{
     margin-top: 20px;
 }
.mt-25{
     margin-top: 25px;
 }
.mt-30{
     margin-top: 30px;
 }
.margin-10{
    margin: 10px;
}
.margin-3{
    margin: 3px;
}

/* Media Queries
   min 992,768
   max 1200 992 768 480  */

@media (min-width: 992px){
    #sidebar {
        margin-top: 57px;
    }
}
@media (min-width: 768px) {

}
@media (max-width: 1200px) {

}
@media (max-width: 992px) {

}
@media (max-width: 768px) {

}
@media (max-width: 480px) {

}

