body{
    padding: 0 !important;
}
.logo-img {
    width: 190px;
    margin: 4px;
    display: inline-block;
}
.model-selecter{
    z-index: 9999999!important;
}
/*Added By Fawad*/
.select2-container--default .select2-selection--single {
    height: 33px;
    border-radius: 0;
    border-color: #aeacb4;
}
/*End By Fawad*/
section#page-title {
    padding: 40px 40px 0px 40px !important;
}
#page-title .breadcrumb{
    margin: 0 !important;
    top: 30% !important;
}
.table {
    border-collapse: collapse;
    width: 100% !important;
}
span.p_skills.btn.btn-xs.btn-primary {
    margin: 2px;
}

.settings > .btn {
    left: -28px !important;
    padding: 10px 8px !important;
    position: absolute;
    top: 41px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.error {
    color: #cc2828;
}
.box-login {
    margin-top: 150px !important;
}
.box-forgot {
    margin-top: 150px !important;
}
.box-login input[type="checkbox"]{
    display: block;
    opacity: 0;
    margin-left: 5px;
    z-index: 9999;
}
/* Start Project dashboard  */
#div1, #div2,#div3,#div4{
    float: left;
    width: 350px;
    height: auto;
    min-height: 550px;
    margin: 10px;
    border: 2px solid #c8c7cc12;
    cursor: pointer;
    border-radius: 5px;
}
#divs1, #divs2, #divs3, #divs4 {
    float: left;
    width: 350px;
    height: auto;
    min-height: 550px;
    margin: 10px;
    border: 2px solid #c8c7cc57;
    cursor: pointer;
    border-radius: 5px;
}
.user-model .tasks{
    margin: 8px;
    border: 2px solid #eaeaec;
    border-radius: 3px;
}
.user-model .modal-content {
    background: #f7f7f8 !important;
    box-shadow: none;
}

.d-heading  {
    background-color: #80808017;
    padding: 10px;
    margin: 0px !important;
    color: #808080 !important;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
}
.user-model .d-headings {
    background-color: #80808017;
    padding: 10px;
    margin: 0px !important;
    color: #808080 !important;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
}
.t-heading  {
    background-color: #f7f7f863;
    color: #333333e3;
    font-size: 16px;
    font-weight: 500;
    padding: 6px;
}
.user-model .t-heading {
    background-color: #f4f4f6;
    color: #333333e3;
    font-size: 16px;
    font-weight: 500;
    padding: 6px;
}
.tasks{
    margin: 8px;
    border: 2px solid #f7f7f8;
    border-radius: 3px;
}
.tasks p{
    padding: 5px;
}

.user-model .modal-body{
    display: flex !important;
}
#myTab2_example2{
    display: flex !important;
}
.right-tab{
    min-height: 300px;
}
.imageuploadify .imageuploadify-images-list .imageuploadify-container {
    width: 150px;
    height: 150px;
    margin: 5px 10px 5px 10px;
    margin-left: 33px !important;
}
#myTab5Attachment .fileinput {
    display: inline-block !important;
 }
.fileinput {
     display: inline-block !important;
}

.developer{
    cursor: pointer;
}
.select2-container{
    z-index: 9999999!important;
}
.modal-body input,textarea {
    background-color: #f7f7f8 !important;
}
.select2-container--default .select2-selection--single {
    background-color: #f7f7f8 !important;
}

.p-dashboard hr{
    margin-top: 5px !important;
    margin-bottom: 6px !important;
}
.p-dashboard .heading {
    background-color: #8080801f;
    margin: 0px;
    margin-bottom: 7px;
    margin-top: 15px;
    padding: 8px;
    color: #1fbba6;
    margin-left: -16px;
    margin-right: -16px;
    border: 1px solid gainsboro;
}
.p-dashboard .user-left {
    margin-top: -14px;
}
.p-dashboard p{
    color: #8e8e93; ;
}
.fileinputappend .fileinput-new.thumbnail {
    width: 130px;
    height: 80px;
}
.fileinputappends .fileinput-new.thumbnail {
    width: 130px;
    height: 80px;
}
.fileinputappend .user-image {
    padding-left: 10px;
}
.fileinputappends .user-image {
    padding-left: 10px;
}

.user-model .modal-dialog{
    width: 90% !important;
}
.add-task .modal-dialog{
    width: 55% !important;
}
.add-task .select2-container {
     width: 100% !important;
}
.add-task .tab-content {
     background-color: #e8e8e8;
}
.add-task .tabs-right > .nav-tabs > li {
    background-color: #77777721;;
    margin: 8px 10px 0px 0px;
    border-radius: 4px;
}
.add-task .nav-tabs>li.active>a, .nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: #8e8e9340;;
    border-radius: 4px;
}
.add-task .nav-tabs > li > a {
    color: #5b5b60;
    padding: 8px 20px;
    font-size: 14px;
    font-weight: 600;
}
.add-milestone .select2-container {
     width: 100% !important;
}
#append_activity #append_reviews h5
{
    float: left;
    margin-right: 5px;
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
}
#append_activity, #append_reviews li {
    list-style: none;
}
#append_activity, #append_reviews li:nth-child(odd){
    margin-top: 5px;

}

/* End Project dashboard  */

/* Developers portfolio */
.portfolio{
    border: 2px solid #ddd !important;
    padding: 10px;
    background-color: #f8f8f8;
    margin: 5px;
    color: #000;
    display: block;
    transition: .1s transform;
    transform: translateZ(0);
    min-height: 530px;

}
.portfolio span.heading {
    font-size: 14px;
    font-weight: 600;
    color: #5b5b60cf;
}
.portfolio table{
    width: 100%;
}
.portfolio table td{
    color: #8e8e93;
    padding-top: 5px;
}
.portfolio .well {
    color: #8e8e93;
    min-height: 20px;
    padding: 6px;
    margin: 10px 0px 10px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
}
.portfolio:hover{
    -moz-box-shadow: 1px 1px 15px #999;
    -webkit-box-shadow: 1px 1px 15px #999;
    box-shadow: 1px 1px 15px #999;
    transform: scale(1.1,1.1);
    transition: .4s transform;
    z-index: 1;
}

/* End */
.costum-row{
    border:1px solid #a9a9a973;
}
    /* custum classes */

.datepicker.dropdown-menu {
     z-index: 9999999 !important;
}

.mt-5{
     margin-top: 5px;
 }
.mt-10{
     margin-top: 10px;
 }
.mt-15{
     margin-top: 15px;
 }
.mt-20{
     margin-top: 20px;
 }
.mt-25{
     margin-top: 25px;
 }
.mt-30{
     margin-top: 30px;
 }
.margin-10{
    margin: 10px;
}
.margin-3{
    margin: 3px;
}
.p-10{
    padding: 10px;
}
.mr-5{
     margin-right: 5px;
 }
.mr-10{
    margin-right: 10px;
 }
.mr-15{
    margin-right: 15px;
 }
.mr-20{
    margin-right: 20px;
 }
.mr-25{
    margin-right: 25px;
 }
.mr-30{
    margin-right: 30px;
 }


/* Media Queries
   min 992,768
   max 1200 992 768 480  */

@media (min-width: 992px){
    #sidebar {
        margin-top: 57px;
    }
    .portfolio{
        width: 23% !important;
    }
}
@media (min-width: 768px) {

}
@media (max-width: 1200px) {

}
@media (max-width: 992px) {

}
@media (max-width: 768px) {

}
@media (max-width: 480px) {

}

